.git
.gitignore
.env
backend/.env
**/.env
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/venv/
**/.venv/
**/node_modules/
**/dist/
**/*.db
**/*.sqlite3
**/*.sqlite
**/*.log
**/.DS_Store
frontend/dist/
backend/venv/
backend/.pytest_cache/
